<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title >세계 주류 게시판</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:href="@{/css/styles.css}" rel="stylesheet" />
  <div class="title">
    <img class="title-img" th:src="@{/img/header.jpg}">
    <h1 class="title-text">세계 주류 게시판</h1>
  </div>
</head>
<div>
  <h1 style="margin: 100px 100px;">게시글 작성</h1>
  <button type="button">취소</button>
  <button type="button">등록</button>
</div>
<script src="js/script.js"></script>
</html>