<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <th:block layout:fragment="headerFragment">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
  </th:block>
</head>
<th:block layout:fragment="content">
  <body>
  <div class="postcreate" style="margin:40px 100px;">
    <h1>게시판 등록</h1>
    <input class="createbtn1" type="submit" value="취소" onclick="history.back()">
    <input class="createbtn2" type="submit" id="submit" value="저장" onclick="savePost()">
    <hr>
    <form id="postForm" name="postForm" method="post" action="/api/v1/posts">
      <select class="selectcategory" id="category" name="category">
        <option value="">게시글 카테고리</option>
        <option value="양주">양주</option>
        <option value="와인">와인</option>
        <option value="샴페인">샴페인</option>
        <option value="사케">사케</option>
        <option value="전통주">전통주</option>
        <option value="폭탄">폭탄</option>
      </select>
      <table class="board_detail">
        <tr>
          <td><input type="text" id="title" name="title" class="createtitle" placeholder="제목"></td>
          <td><input type="file" class="createimg" placeholder="사진등록"></td>
        </tr>
        <tr>
          <td colspan="2">
            <textarea id="contents" name="contents" class="createcontent" placeholder="내용"></textarea>
          </td>
        </tr>
      </table>
    </form>
  </div>
  </body>
  <script src="/js/script.js"></script>
  <script th:inline="javascript">
    function savePost() {
      var category = document.getElementById("category").value;
      var title = document.getElementById("title").value;
      var contents = document.getElementById("contents").value;

      // 현재 로그인된 사용자의 이메일을 가져옴
      var u_nickname = getCookie("username");

      var data = {
        category: category,
        ptitle: title,
        p_content: contents,
        unickname: u_nickname  // 사용자의 이메일을 u_nickname으로 전송
      };

      fetch('/api/v1/posts', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
      })
              .then(response => {
                if (response.ok) {
                  // 게시글이 성공적으로 저장되면 메인 페이지로 이동합니다.
                  window.location.href = "/api/v1/posts/main"; // 메인 페이지 URL에 맞게 수정하세요.
                } else {
                  console.error('게시글 저장에 실패했습니다.');
                }
              })
              .catch(error => {
                console.error('네트워크 에러:', error);
              });
    }
  </script>

</th:block>
</html>
