<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <th:block layout:fragment="headerFragment">
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div class="mainimg">
        <img th:src="@{/img/maincenter1.png}">
        <img th:src="@{/img/maincenter2.jpg}">
        <img th:src="@{/img/maincenter3.jpg}">
        <img th:src="@{/img/maincenter1.png}">
        <img th:src="@{/img/maincenter2.jpg}">
    </div>
    <article>
        <div>
            <form th:action="@{/api/v1/posts/main}" class="searchbox" method="GET">
                <input type="text" class="postsearch" name="searchKeyword" placeholder="검색어를 입력해주세요.">
                <button type="submit">검색</button>
            </form>
            <div>
                <div class="categorybtn">
                    <button onclick="loadCategory('전체')"><a th:href="@{/api/v1/posts/main(postId=전체)}">전체</a></button>
                    <button onclick="loadCategory('양주')"><a th:href="@{/api/v1/posts/main(postId=양주)}">양주</a></button>
                    <button onclick="loadCategory('와인')"><a th:href="@{/api/v1/posts/main(postId=와인)}">와인</a></button>
                    <button onclick="loadCategory('샴페인')"><a th:href="@{/api/v1/posts/main(postId=샴페인)}">샴페인</a></button>
                    <button onclick="loadCategory('사케')"><a th:href="@{/api/v1/posts/main(postId=사케)}">사케</a></button>
                    <button onclick="loadCategory('전통주')"><a th:href="@{/api/v1/posts/main(postId=전통주)}">전통주</a></button>
                    <button onclick="loadCategory('폭탄')"><a th:href="@{/api/v1/posts/main(postId=폭탄)}">폭탄</a></button>
                    <button onclick="loadCategory('만남')"><a th:href="@{/api/v1/posts/main(postId=만남)}">만남</a></button>
                </div>
            </div>
            <!-- 카테고리버튼 누르면 로컬호스트주소 끝에 해당 카테고리 이름 붙음 -->
            <script type="text/javascript">
                function loadCategory(category) {

                    var currentURL = window.location.href;

                    var newURL = currentURL.split('?')[0] + '?' + encodeURIComponent(category);

                    window.location.href = newURL;
                }
            </script>
            <table class="boardcontainer">
                <thead class="boardcontainerhead">
                <tr>
                    <td width="100px"></td>
                    <td width="700px">제목</td>
                    <td width="250px">작성자</td>
                    <td width="150px">작성일</td>
                    <td width="150px">조회수</td>
                    <td width="150px">추천수</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, rowStat : ${readposts.content}">
                    <td th:text="${rowStat.index + readposts.number * readposts.size + 1}"></td>
                    <td>
                        <a th:href="@{/api/v1/posts/post/{postId}(postId=${item.postId})}" th:text="${item.ptitle}"></a>
                    </td>
                    <td th:text="${item.unickname}"></td>
                    <td th:text="${#temporals.format(item.p_date, 'MM-dd HH:mm')}"></td>
                    <td>35</td><!--조회수 -->
                    <td>35</td><!--추천수 -->
                </tr>
                </tbody>
            </table>
            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
                <a th:if="${page != nowPage}" th:href="@{/api/v1/posts/main(page = ${page - 1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
                <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
            </th:block>
        </div>
    </article>
</th:block>
</body>
</html>