<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <th:block layout:fragment="headerFragment">
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </th:block>
</head>
<body>
<th:block layout:fragment="content">
    <div class="mainimg">
        <img th:src="@{/img/maincenter1.png}">
        <img th:src="@{/img/maincenter2.jpg}">
        <img th:src="@{/img/maincenter3.jpg}">
        <img th:src="@{/img/maincenter1.png}">
        <img th:src="@{/img/maincenter2.jpg}">
    </div>
    <article>
        <div>
            <form th:action="@{/api/v1/posts/main}" class="searchbox" method="GET">
                <input type="text" class="postsearch" name="searchKeyword" placeholder="검색어를 입력해주세요.">
                <button type="submit">검색</button>
            </form>
            <div>
                <div class="categorybtn">
                    <a th:href="@{/api/v1/posts/main}">전체</a>
                    <a th:href="@{/api/v1/posts/main?category=양주}">양주</a>
                    <a th:href="@{/api/v1/posts/main?category=사케}">사케</a>
                    <a th:href="@{/api/v1/posts/main?category=샴페인}">샴페인</a>
                    <a th:href="@{/api/v1/posts/main?category=전통주}">전통주</a>
                    <a th:href="@{/api/v1/posts/main?category=폭탄}">폭탄</a>
                </div>
            </div>
            <table class="boardcontainer">
                <thead class="boardcontainerhead">
                <tr>
                    <td width="100px"></td>
                    <td width="700px">제목</td>
                    <td width="250px">작성자</td>
                    <td width="150px">작성일</td>
                    <td width="150px">조회수</td>
                    <td width="150px">추천수</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, rowStat : ${readposts.content}">
                    <td th:text="${readposts.totalElements - (rowStat.index + readposts.number * readposts.size)}"></td>
                    <td>
                        <a href="#" th:attr="onclick='clickptitle(\'' + ${item.postId} + '\')'" th:text="${item.ptitle}"></a>
                    </td>
                    <td th:text="${item.unickname}"></td>
                    <td th:text="${#temporals.format(item.p_date, 'MM-dd HH:mm')}"></td>
                    <td>35</td>
                    <td>35</td><!--추천수 -->
                </tr>
                <tr>
                    <td colspan="6">
                        <ul class="pagination" th:if="${category == null && searchKeyword == null}">
                            <li class="page-item" th:classappend="${readposts.number > 0 && nowPage > 10} ? '' : 'disabled'">
                                <a class="page-link" th:if="${nowPage > 10}" th:href="@{|?page=${readposts.number-10}|}" onclick="movePage(${readposts.number-10})">
                                    <span><이전</span>
                                </a>
                            </li>
                            <li th:each="page : ${#numbers.sequence(startPage, endPage)}">
                                <a th:if="${page != nowPage}"
                                   th:href="@{/api/v1/posts/main(page=${page - 1})}"
                                   th:text="${page}" class="page-link"></a>
                                <strong th:if="${page == nowPage}" th:text="${page}" class="page-link"></strong>
                            </li>
                            <li class="page-item" th:classappend="${!readposts.hasNext || endPage >= readposts.totalPages} ? 'disabled' : ''">
                                <a class="page-link" th:if="${readposts.hasNext && endPage < readposts.totalPages}" th:href="@{|?page=${readposts.number+10 < readposts.totalPages ? readposts.number+10 : readposts.totalPages-1}|}" onclick="movePage(${readposts.number+10 < readposts.totalPages ? readposts.number+10 : readposts.totalPages-1})">
                                    <span>다음></span>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <ul class="pagination" th:if="${category != null}">
                            <li class="page-item" th:classappend="${readposts.number > 0 && nowPage > 10} ? '' : 'disabled'">
                                <a class="page-link" th:if="${nowPage > 10}" th:href="@{|/api/v1/posts/main?category=${category}&page=${readposts.number-10}|}" onclick="movePage(${readposts.number-10})">
                                    <span><이전</span>
                                </a>
                            </li>
                            <li th:each="page : ${#numbers.sequence(startPage, endPage)}">
                                <a th:if="${page != nowPage}"
                                   th:href="@{|/api/v1/posts/main?category=${category}&page=${page - 1}|}"
                                   th:text="${page}" class="page-link"></a>
                                <strong th:if="${page == nowPage}" th:text="${page}" class="page-link"></strong>
                            </li>
                            <li class="page-item" th:classappend="${!readposts.hasNext || endPage >= readposts.totalPages} ? 'disabled' : ''">
                                <a class="page-link" th:if="${readposts.hasNext && endPage < readposts.totalPages}" th:href="@{|/api/v1/posts/main?category=${category}&page=${readposts.number+10 < readposts.totalPages ? readposts.number+10 : readposts.totalPages-1}|}" onclick="movePage(${readposts.number+10 < readposts.totalPages ? readposts.number+10 : readposts.totalPages-1})">
                                    <span>다음></span>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <ul class="pagination" th:if="${searchKeyword != null}">
                            <li class="page-item" th:classappend="${readposts.number > 0 && nowPage > 10} ? '' : 'disabled'">
                                <a class="page-link" th:if="${nowPage > 10}" th:href="@{|/api/v1/posts/main?searchKeyword=${searchKeyword}&page=${readposts.number-10}|}" onclick="movePage(${readposts.number-10})">
                                    <span><이전</span>
                                </a>
                            </li>
                            <li th:each="page : ${#numbers.sequence(startPage, endPage)}">
                                <a th:if="${page != nowPage}"
                                   th:href="@{|/api/v1/posts/main?searchKeyword=${searchKeyword}&page=${page - 1}|}"
                                   th:text="${page}" class="page-link"></a>
                                <strong th:if="${page == nowPage}" th:text="${page}" class="page-link"></strong>
                            </li>
                            <li class="page-item" th:classappend="${!readposts.hasNext || endPage >= readposts.totalPages} ? 'disabled' : ''">
                                <a class="page-link" th:if="${readposts.hasNext && endPage < readposts.totalPages}" th:href="@{|/api/v1/posts/main?searchKeyword=${searchKeyword}&page=${readposts.number+10 < readposts.totalPages ? readposts.number+10 : readposts.totalPages-1}|}" onclick="movePage(${readposts.number+10 < readposts.totalPages ? readposts.number+10 : readposts.totalPages-1})">
                                    <span>다음></span>
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </article>
    <script type="text/javascript">
        function loadCategory(category) {
            var currentURL = window.location.href;
            var newURL = currentURL.split('?')[0] + '?' + encodeURIComponent(category);
            window.location.href = newURL;
        }

        function clickptitle(postId) {
            // 로그인 상태 확인 API를 호출합니다.
            jQuery.ajax({
                url: '/check-login-status',
                type: 'POST',
                success: function(response) {
                    console.log('로그인 상태 확인 API의 응답:', response);
                    if (response) {
                        // 사용자가 로그인되어 있는 경우 게시물 상세 페이지로 이동합니다.
                        window.location.href = "/api/v1/posts/post/" + postId;
                    } else {
                        // 사용자가 로그인되어 있지 않은 경우 모달 창을 띄우거나 다른 처리를 합니다.
                        alert("로그인이 필요합니다.");
                    }
                },
                error: function(xhr, status, error) {
                    console.error('로그인 상태 확인 중 오류가 발생했습니다.');
                    console.error('상태 코드:', status);
                    console.error('에러:', error);
                }
            });
        }

    </script>

</th:block>
</body>
</html>
