<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/basic.html}">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <th:block layout:fragment="headerFragment">
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </th:block>
</head>
<th:block layout:fragment="content">
    <body>
    <div class="postcontent" style="margin:40px 80px;">
        <table style="border-bottom:1px solid; width: 1340px;">
            <tbody>
            <h5 style="color:#35a845;">양주 게시판</h5>
            <tr>
                <td style="font-weight:800; font-size:45px;" colspan="3" th:text="${post.ptitle}">제목</td>
            </tr>
            <tr style="text-align: left;">
                <th><div>작성자:</div></th>
                <td><div th:text="${post.unickname}" style="position:absolute; margin:-10px -1130px;"></div></td>
                <th><div style="position:absolute; margin:-10px -1070px;">조회수:</div></th>
                <td><div style="position:absolute; margin:-10px -1060px;">35</div></td>
                <td>
                    <a class="postbutton" style="position:absolute; margin:-30px -100px;" th:attr="onclick='clickmodify(\'' + ${post.postId} + '\', \'' + ${post.unickname} + '\')'">수정</a>
                    <a class="postbutton" style="position:absolute; margin:-30px -40px;" th:attr="onclick='confirmDelete(\'' + ${post.postId} + '\', \'' + ${post.unickname} + '\')'">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="postcontent2">
            <tbody>
            <tr>
                <td colspan="4" class="view_text" th:text="${post.p_content}">
                </td>
            </tr>
            </tbody>
        </table>
        <div>
            <div class="comments mt-3">
            </div>
            <form class="postcomment" onsubmit="addComment(event)">
                <div class="form-group">
                    <input type="text" class="form-control2" placeholder="댓글을 입력하세요" required>
                </div>
                <button type="submit" class="btn btn-primary">작성</button>
            </form>
        </div>
    </div>
    </body>
    <script src="/js/script.js"></script>
    <script>

        function clickmodify(postId, postAuthor) {
            // 로그인 상태 확인 API를 호출합니다.
            jQuery.ajax({
                url: '/get-logged-in-email',
                type: 'POST',
                success: function(response) {
                    console.log('로그인 상태 확인 API의 응답:', response);
                    if (response) {
                        // 로그인된 사용자와 게시물 작성자를 비교하여 수정 권한을 확인합니다.
                        if (response === postAuthor) {
                            // 현재 로그인된 사용자와 게시물 작성자가 일치하는 경우 게시물 상세 페이지로 이동합니다.
                            window.location.href = "/api/v1/posts/update/" + postId;
                        } else {
                            // 게시물 작성자와 다른 사용자의 경우 수정할 수 없음을 알립니다.
                            alert("게시물 작성자만이 수정할 수 있습니다.");
                        }
                    } else {
                        // 사용자가 로그인되어 있지 않은 경우 모달 창을 띄우거나 다른 처리를 합니다.
                        alert("로그인이 필요합니다.");
                    }
                },
                error: function(xhr, status, error) {
                    console.error('로그인 상태 확인 중 오류가 발생했습니다.');
                    console.error('상태 코드:', status);
                    console.error('에러:', error);
                }
            });
        }

        function confirmDelete(postId, postAuthor) {
            // 현재 URL에서 postId 추출
            var postId = window.location.pathname.split('/').pop();
            console.log('현재 URL의 postId:', postId);

            if (!postId) {
                console.error('postId가 올바르게 전달되지 않았습니다.');
                return;
            }

            // 로그인 상태 확인 API를 호출합니다.
            jQuery.ajax({
                url: '/get-logged-in-email',
                type: 'POST',
                success: function(response) {
                    console.log('로그인 상태 확인 API의 응답:', response);
                    if (response) {
                        // 게시물 작성자와 로그인된 사용자를 비교하여 삭제 권한을 확인합니다.
                        if (response === postAuthor) {
                            // 작성자와 로그인된 사용자가 일치하는 경우 삭제 확인 메시지를 표시합니다.
                            if (confirm('정말로 삭제하시겠습니까?')) {
                                deletePost(postId);
                            }
                        } else {
                            // 게시물 작성자와 다른 사용자의 경우 삭제할 수 없음을 알립니다.
                            alert("게시물 작성자만이 삭제할 수 있습니다.");
                        }
                    } else {
                        // 사용자가 로그인되어 있지 않은 경우 모달 창을 띄우거나 다른 처리를 합니다.
                        alert("로그인이 필요합니다.");
                    }
                },
                error: function(xhr, status, error) {
                    console.error('로그인 상태 확인 중 오류가 발생했습니다.');
                    console.error('상태 코드:', status);
                    console.error('에러:', error);
                }
            });
        }

        function deletePost(postId) {
            fetch('/api/v1/posts/post/' + postId, {
                method: 'DELETE'
            })
                .then(response => {
                    if (response.ok) {
                        // 성공적으로 삭제된 경우
                        console.log('게시물이 성공적으로 삭제되었습니다.');
                        // 메인 페이지로 이동
                        window.location.href = '/api/v1/posts/main';
                    } else {
                        // 삭제 실패한 경우
                        console.error('게시물 삭제에 실패했습니다.');
                    }
                })
                .catch(error => {
                    console.error('네트워크 오류:', error);
                });
        }
    </script>

</th:block>
</html>
