<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <th:block layout:fragment="headerFragment">
        <link th:href="@{/css/styles.css}" rel="stylesheet" />
    </th:block>
</head>
<th:block layout:fragment="content">
    <body>
    <div class="postcreate" style="margin:40px 100px;">
        <h1>게시판 수정</h1>
        <input class="createbtn1" type="button" value="취소" onclick="history.back()">
        <input class="createbtn2" type="button" id="submit" value="저장" onclick="updatePost()">
        <hr>
        <form id="postForm" name="postForm" method="post">
            <select class="selectcategory" id="category" name="category" th:value="${post.category}">
                <option value="">게시글 카테고리</option>
                <option value="양주">양주</option>
                <option value="와인">와인</option>
                <option value="샴페인">샴페인</option>
                <option value="사케">사케</option>
                <option value="전통주">전통주</option>
                <option value="폭탄">폭탄</option>
            </select>
            <table class="board_detail">
                <tr>
                    <td><input type="text" id="title" name="title" class="createtitle" placeholder="제목" th:value="${post.ptitle}"></td>
                    <td><input type="file" class="createimg" placeholder="사진등록"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea id="contents" name="contents" class="createcontent" placeholder="내용" th:text="${post.p_content}"></textarea>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    </body>
    <script src="/js/script.js"></script>
</th:block>
</html>
